    <!-- Menú de Configuraciones cargado a la izquierda -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
            <a class="dropdown-item" href="/servicios/lavado/list">Lavado</a>
            <a class="dropdown-item" href="/servicios/planchado/list">Planchado</a>
            <a class="dropdown-item" href="/servicios/tenido/list">Tenido</a>
        </div>
    </li>